<div class="header__content">
    <div class="header__content-logo">Book Traveller</div>
    <div class="header__content-search">

          <select #selectedCountry (change)="onChange(selectedCountry.value)">
            <option value="" disabled selected class="limited">Select a country</option>
            <option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </option>
          </select>

        <i class="fa-solid fa-magnifying-glass" ></i>
    </div>
    <div class="header__content-login"><i class="fa-solid fa-user"></i></div>
</div>